*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

.container {
  scroll-behavior: smooth;

  scroll-snap-type: y mandatory;


  height: 100vh;
  border: 2px solid #333;
  overflow: scroll;
}

.element {
  scroll-snap-align: start;
  scroll-snap-stop: normal;


  height: 100vh;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.element:nth-child(even) {
  background: #1d1e21;
}
.element:nth-child(odd) {
  background: #ee6620;
}

.change{
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  color: #fff;
  text-align: center;

}

.change .prev,
.change .post{
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.change .prev:hover,
.change .post:hover{
  background-color: rgba(0, 0, 0, .5);
}




